.header_bac{
	background-image: url(bac.jpg);
}
.header{
	margin-top:80px;
}
.blog-header{
	background:none;
	height:140px;
}
#type{
	background:none;
}
.homespan{
	color:white;
}
.card-body{
	background:none;
}
b{
	color:#2974b7;/*#4ea1db #2b6695*/
	font-size:19px;	
}
.title_post{
	color:#2974b7;
}